<main class="flex flex-col items-center justify-center mx-auto gap-3">
  <h1 class="text-5xl text-amber-700 font-bold mx-auto mt-12">Dog walks</h1>

  <% if user_signed_in? %>
    <p class="text-2xl text-amber-700 font-bold mx-auto mt-8">Hello <%= current_user.first_name %> <%= current_user.last_name %></p>
  <% else %>
    <p class="text-2xl text-amber-700 font-bold mx-auto">Welcome to Dog walks</p>
  <% end %>

  <div>
    <%= link_to "Créer une balade", new_walk_path, class:"btn btn-primary mt-4" %>
  </div>
</main>


<%# ? Afficher les balades les plus proches %>
