<main class="flex flex-col items-center justify-center">
  <h1 class="text-4xl text-amber-700 font-bold mx-auto">Créer une balade</h1>

  <div class="flex flex-col items-center justify-center mx-auto">
    <%= render 'walks/form', walk: @walk %>
  </div>
</main>
